Button{
}

#topMid{
    -fx-background-color: blue;
    -fx-border-color: white;
    -fx-border-width: 3;
}

#buttonColor{
    -fx-background-color: gray;
    -fx-border-color: white;
    -fx-border-width: 3;
}



