* {
    basecolor: black;
    mycolor: red;
    buttonbase: #555555;
    buttonhover: gray;
    -fx-text-fill: white;


}

AnchorPane, HBox, VBox{
    -fx-background-color: basecolor;
}


.menu-bar{
    -fx-background-color: basecolor;
}

.menu{
    -fx-border-color: black;
    -fx-background-color: black;
}

.context-menu{
    -fx-background-color: black;
}

.menu-item:focused, .button:hover, .menu:hover {
    -fx-background-color: buttonhover;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.menu-item{
    -fx-border-color: basecolor;
    -fx-background-color: basecolor;

}

Button{
    -fx-background-color: buttonbase;
}

ListView{
    -fx-background-color: buttonbase;
}

.list-cell{
    -fx-background-color: buttonbase;
}

.list-cell:selected{
    -fx-background-color: blue;
}

.combo-box-base, .text-field, .text-area{
    -fx-background-color: buttonbase;
}

.combo-box-popup .list-cell{
    -fx-background-color: buttonbase;
}

.combo-box-popup .list-cell:hover{
    -fx-border-color: gray;
}

.table-view{
    -fx-background-color: gray;
}
.table-column{
    -fx-background-color: #413b42;
}













