* {
    -fx-base: black;
    -fx-buttonbase: #555555;
    -fx-textcolor: white;
}


AnchorPane {
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-textcolor;
}

Button{
    -fx-text-fill: -fx-textcolor;
    -fx-background-color: -fx-buttonbase;
}

ListView{
    -fx-background-color: -fx-buttonbase;
    -fx-text-fill: -fx-textcolor;
}
